aiohttp
aiosignal
appdirs
async-timeout
attrs
certifi
charset-normalizer
cityscapesScripts
coco-eval
coloredlogs
contourpy
cycler
dicttoxml
filelock
fonttools
frozenlist
fsspec
future
huggingface-hub
humanfriendly
idna
importlib-resources
pip-install
kiwisolver
lightning
lightning-utilities
matplotlib
multidict
numpy
opencv-python
packaging
pillow
pycocotools
pyparsing
pyquaternion
python-dateutil
pytorch-lightning
PyYAML
regex
requests
safetensors
scipy
six
supervision
timm
tokenizers
torch
torchaudio
torchmetrics
torchvision
tqdm
transformers
typing
typing-extensions
urllib3
xmltodict
yarl
zipp
